@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.hero{
    background: #da212796;
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero h1{
    text-align: center;
    padding-top: 80px;
    font-size: 60px;
    color: #fff;
    font-family:Bebas Neue,sans-serif ;
    letter-spacing: 10px;

}
.intro{
    font-family:Roboto Condensed;
    font-weight: bold;
    
}
.slide-row{
    display: flex;
    width:3200px ;
    transition: .5s;
}
.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}
.user-img{
    position:absolute; 
    top:0 ;
    right: 0;
    height: 100%;
}
.user-img img{
    height: 25rem;
    border-radius: 10px;
}
.user-text{
    background:#2d3a59 ;
    width: 520px;
    height: 250px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 30px;
    box-sizing: border-box;
    z-index: 2;
}
.job{
    font-size: large;
    font-weight: bold;
    font-family: Bebas Neue;
    letter-spacing: 5px;
}

.user-text p{
    font-size:22px ;
    line-height: 26px;
}
.user-text h3{
    margin: 35px 0 5px;
    color: #fff;
}
.container{
    width: 800px;
    height: 400px;
    position: absolute;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.indicator{
    position: absolute;
    
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: -50px;
}
.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background:#fff ;
    cursor: pointer;
    transition: .5s;
}
.active{
    width: 40px;
}
.logo{
    height: 2rem;    
    top: 200px;
    left: 400px;
    position: absolute;
}
.logo i{
    padding-left: 1rem;
}
.eden{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media screen and (max-width:1000px){

    .hero{
          height: 135vh;
          width: 135%;    
        
    }
    .hero h1{
        font-size: 3rem;
    }
    
 

    
}